{% extends "authapp/base.html" %}
{% block content %}
<div class="container main-content mt-5">
<div class="row main-slot">
<div class="center-block  mx-auto login">

    <form action="" method="POST">
        {{ form.non_field_errors }}
        <table class="table">
            <tbody>
                {% for field in form %}
                    <tr>
                        <th class="item_title"><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                        <td>{{ field }} {{ field.errors }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-block" >Update</button>
    </form>
</div>
</div>
</div>
{% endblock %}